[Unit]
Description=Seafile
Requires=network.target
After=syslog.target network.target
[Service]
Type=forking
ExecStart=/opt/seafile/seafile-server-latest/seafile.sh start
ExecStop=/opt/seafile/seafile-server-latest/seafile.sh stop
ExecReload=/opt/seafile/seafile-server-latest/seafile.sh restart
Wants=nginx.service mysql.service

[Install]
WantedBy=multi-user.target
