[Unit]
Description=Seafile
Requires=network.target
After=syslog.target network.target
[Service]
Type=forking
ExecStart=/opt/seafile/seafile-server-latest/seahub.sh start-fastcgi
ExecStop=/opt/seafile/seafile-server-latest/seahub.sh stop
ExecReload=/opt/seafile/seafile-server-latest/seahub.sh restart-fastcgi
PIDFile=/opt/seafile/seafile-server-latest/runtime/seahub.pid
Wants=nginx.service mysql.service

[Install]
WantedBy=multi-user.target
